<div class="container">
    <h4>Appetizers</h4>
    <div class="d-flex flex-wrap">
        <div *ngFor="let item of menuItems">
            <div *ngIf=" item.section  == 'Appetizers'">
                <div class="card mb-3" style="width: 22.5rem">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="{{ item.image }}" class="img-fluid" alt="" style="height: 100px; width: 100px;">
                        </div>
                        <div class="col">
                            <div class="card-block">
                                <h6 class="card-title" style="padding-top: 2.5rem; padding-left: 1rem;">{{ item.name }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4>Soup</h4>
    <div class="d-flex flex-wrap">
        <div *ngFor="let item of menuItems">
            <div *ngIf=" item.section  == 'Soup'">
                <div class="card mb-3" style="width: 22.5rem">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="{{ item.image }}" class="img-fluid" alt="" style="height: 100px; width: 100px;">
                        </div>
                        <div class="col">
                            <div class="card-block">
                                <h6 class="card-title" style="padding-top: 2.5rem; padding-left: 1rem;">{{ item.name }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4>Fried Rice</h4>
    <div class="d-flex flex-wrap">
        <div *ngFor="let item of menuItems">
            <div *ngIf=" item.section  == 'Fried Rice'">
                <div class="card mb-3" style="width: 22.5rem">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="{{ item.image }}" class="img-fluid" alt="" style="height: 100px; width: 100px;">
                        </div>
                        <div class="col">
                            <div class="card-block">
                                <h6 class="card-title" style="padding-top: 2.5rem; padding-left: 1rem;">{{ item.name }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4>Lo Mein</h4>
    <div class="d-flex flex-wrap">
        <div *ngFor="let item of menuItems">
            <div *ngIf=" item.section  == 'Lo Mein'">
                <div class="card mb-3" style="width: 22.5rem">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="{{ item.image }}" class="img-fluid" alt="" style="height: 100px; width: 100px;">
                        </div>
                        <div class="col">
                            <div class="card-block">
                                <h6 class="card-title" style="padding-top: 2.5rem; padding-left: 1rem;">{{ item.name }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4>Dinner Specials</h4>
    <div class="d-flex flex-wrap">
        <div *ngFor="let item of menuItems">
            <div *ngIf=" item.section  == 'Dinner'">
                <div class="card mb-3" style="width: 22.5rem">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="{{ item.image }}" class="img-fluid" alt="" style="height: 100px; width: 100px;">
                        </div>
                        <div class="col">
                            <div class="card-block">
                                <h6 class="card-title" style="padding-top: 2.5rem; padding-left: 1rem;">{{ item.name }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>