<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1F3944; height: auto; padding-top: 15px; padding-bottom: 15px;">
    <a class="navbar-brand text-light" href="#" style="font-size: 25px;">
        <b style="color: rgb(199, 78, 65);">華 </b>
        <b style="color: rgb(42, 222, 179);">China Dragon </b>
        <b style="color: rgb(199, 78, 65);">龍</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-light" routerLink="home" routerLinkActive="active">[ Home ]</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" routerLink="menu" routerLinkActive="active">[ Full Menu ]</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" routerLink="order-online" routerLinkActive="active">[ Online Order ]</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>