<div class="container-fluid" style="padding-top: 3rem;">
    <div class="row">
        <div class="col">
            <div class="container">
                <h4>Shopping Cart</h4>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Size</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of orderList">
                        <td>{{ item.name }}</td>
                        <td>{{ item.section }}</td>
                        <td>{{ item.size }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <button class="btn btn-sm"><i class="fa fa-plus-square fa-lg"></i></button>
                            {{ item.quantity }} 
                            <button class="btn btn-sm"><i class="fa fa-minus-square fa-lg"></i></button>
                        </td>
                        <td><button class="btn btn-sm" (click)="deleteOrderItem(item.id)"><i class="fa fa-times fa-lg"></i></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3">
            <div class="container-fluid">
                <div class="card" style="width: 22rem;">
                    <div class="card-header">
                      Order Detail
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Item #: {{ countItem }}</li>
                        <li class="list-group-item">Sub-Total: {{ orderSubTotal | currency: 'USD' }}</li>
                        <li class="list-group-item">Tax 8%: {{ orderTax | currency }}</li>
                        <li class="list-group-item">Total: {{ orderTotal | currency: 'USD' }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>