<div class="container-fluid" style="padding-top: 3rem;">
    <div class="row">
        <div class="col-9">
            <div class="container">
                <a><i class="fa fa-arrow-left"></i> Back to Cart</a>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 1rem;">
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">TIME</div>
                    <div class="col-sm-9">
                        <p>ASAP 21 - 30 mins</p>
                        <p>Schedule for Later</p>
                    </div>
                  </div>
                  <hr>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-3">PAYMENT</div>
                    <div class="col-sm-9">
                        <p>Pay in Restaurant</p>
                    </div>
                  </div>
                  <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">SUMMARY</div>
                    <div class="col-sm-9">
                        <p>...</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item text-center"><h4>China Dragon</h4></li>
                <li class="list-group-item">Subtotal:</li>
                <li class="list-group-item">Taxes:</li>
                <li class="list-group-item">Total:</li>
                <li class="list-group-item"><button class="btn btn-block btn-dark">Place Order</button></li>
              </ul>
        </div>
    </div>
</div>
