<div class="container-fluid" style="padding-top: 3rem;">
    <div class="row">
        <div class="col-9">
            <div class="container">
                <a (click)="backToCart()"><i class="fa fa-arrow-left"></i> Back to Cart</a>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 1rem;">
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">TIME</div>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input input class="form-check-input" type="radio" [(ngModel)]="pickUpOption" name="asap" value="asap" [checked]="true" (change)="onItemChange($event.target.value)">
                            <label class="form-check-label" for="pickuptime">
                                ASAP 20 - 30 mins
                            </label>
                        </div>
                        <div class="form-check">
                            <input input class="form-check-input" type="radio" [(ngModel)]="pickUpOption" name="select-time" value="select-time" (change)="onItemChange($event.target.value)">
                            <label class="form-check-label" for="pickuptime">
                                Schedule for Later
                            </label>
                        </div>
                        <div *ngIf="pickUpTimeSelected">
                            <input type="time" id="pickuptime" name="selectTime" min="11:00" max="20:00" [(ngModel)]="selectedTime" (change)="onTimeChange($event.target.value)">
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-3">PAYMENT</div>
                    <div class="col-sm-9">
                        <p>Pay in Restaurant</p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">SUMMARY</div>
                    <div class="col-sm-9">
                        <div *ngFor="let item of orderItemList">
                            <div class="row">
                                <div class="col-1">{{ item.quantity }}</div>
                                <div class="col-5">{{ item.name }}
                                    <span *ngIf="item.size !== 'None'">({{ item.size }})</span>
                                </div>
                                <div class="col text-right">{{ item.price | currency}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">CONTACT INFO</div>
                    <div class="col-sm-9">
                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" [(ngModel)]="orderDetail.name"
                                    name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="email1">Email address</label>
                                <input type="email" class="form-control" id="email" [(ngModel)]="orderDetail.email"
                                    name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" id="phone"
                                    [(ngModel)]="orderDetail.phone" name="phone" required>
                            </div>
                            <button type="submit" class="btn btn-dark btn-block place-order">Place Order</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="card" style="width: 26rem;">
                    <div class="card-header text-light" style="background-color: #1F3944;">
                        China Dragon
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">Sub-Total:
                            <span>{{ orderSubTotal | currency: 'USD' }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Tax 8%: <span>{{
                                orderTax | currency }}</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Total: <span>{{
                                orderTotal | currency: 'USD' }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>